@import "variables";

@include addBody;

body {
	position: relative;
	width: 99vw;
	// min-height: 100vh;
	overflow: auto;
}

.navbar {
	margin: 2rem 0;
	height: 5rem;
	// width: 100%;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;

	& p {
		color: transparent;
		font-weight: bolder;
		-webkit-text-stroke: 1px rgba($color: #000, $alpha: 1);
	}
}

.user-data {
	width: 95vw;
	border-collapse: collapse;
	margin: 0 auto;

	& thead {
		height: 3.7rem;
		& tr {
			background-color: rgba(#fff, 0.5);
			backdrop-filter: blur(20px);
			color: #ffffff;
			text-align: left;
			font-weight: 500;
			& td {
				border-bottom: none;
				&:first-child {
					border-top-left-radius: 0.7rem;
					border-bottom-left-radius: 0.7rem;
				}
				&:last-child {
					border-top-right-radius: 0.7rem;
					border-bottom-right-radius: 0.7rem;
				}
			}
		}
	}

	& tr {
		transition: all 300ms;
		border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
		&:hover {
			background-color: rgba(#fff, 0.2);
			backdrop-filter: blur(1rem);
		}

		&:first-child {
			border-top-left-radius: 0.7rem;
			border-bottom-left-radius: 0.7rem;
		}
		&:last-child {
			border-top-right-radius: 0.7rem;
			border-bottom-right-radius: 0.7rem;
		}
	}

	& td {
		font-size: 1.3rem;
		color: rgba($color: #000, $alpha: 0.7);
		padding: 0.5rem 0.7rem;
		text-align: center;

		&:first-child {
			border-top-left-radius: 0.7rem;
			border-bottom-left-radius: 0.7rem;
		}
		&:last-child {
			border-top-right-radius: 0.7rem;
			border-bottom-right-radius: 0.7rem;
		}
	}

	& button {
		padding: 0.5rem;
		cursor: pointer;
		background-color: transparent;
		border: 1px solid rgba($color: #fff, $alpha: 0.7);
		margin: 5px;
		border-radius: 5px;
		transition: all 300ms;
		color: rgba($color: #000, $alpha: 0.8);

		&:hover {
			background: rgba(#fff, 0.5);
		}
	}
}



@include scroll;

.hidden {
	transform: scale(0);
	display: none;
}

.exit {
	position: absolute;
	top: 1rem;
	right: 2rem;
	font-size: 2.5rem;
	cursor: pointer;
}

.section-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	// overflow-y: hidden;
}

.modal-view {
	margin-top: 1rem;
	font-size: 1.7rem;
}

.user p {
	&:not(:first-of-type) {
		color: rgba($color: #000, $alpha: 0.4);
	}
	& span {
		color: rgba($color: #000, $alpha: 1);
	}
}

.name {
	font-size: 3.5rem;
	color: transparent;
	margin-bottom: 1.5rem;
	font-weight: bolder;
	-webkit-text-stroke: 1px rgba($color: #000, $alpha: 1);
}

.first-name {
	margin-bottom: 1rem;
}

.last-name {
	margin-bottom: 1rem;
}

.email {
	margin-bottom: 1rem;
}
.point {
	margin-bottom: 1rem;
}

.phone {
	margin-bottom: 1rem;
}

.section-3 {
	min-height: 98vh;
	width: 100%;
	font-size: 1.5rem;
	display: flex;
	align-items: center;

	& .edit-user {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		& div {
			display: flex;
			align-items: center;
			width: 40%;

			& p {
				flex-grow: 1;
				color: rgba($color: #000, $alpha: 0.5);
			}

			& input {
				padding: 0.5rem;
				background-color: transparent;
				border: 1px solid rgba(#000, 0.5);
				outline: none;
				transition: all 400ms;
				&:focus {
					border: 1px solid rgba($color: #000, $alpha: 0.7);
					box-shadow: 0 0 5rem rgba($color: #000, $alpha: 0.2);
					backdrop-filter: blur(30px);
				}
			}
		}
		& button {
			padding: 0.5rem;
			cursor: pointer;
			background-color: transparent;
			margin: 5px;
			margin-top: 2.5rem;
			border: 1px solid rgba($color: #000, $alpha: 0.5);
			border-radius: 5px;
			transition: all 300ms;
			color: rgba($color: #000, $alpha: 0.7);

			&:hover {
				background: rgba(#fff, 0.5);
			}
		}
	}
}
